.innerContent{
    margin: 4rem 8rem;
}

.teamsTitle {
    font-family: DMSans;
    font-size: 3rem;
    font-weight: bold;
    color: #01385E;
    margin: 0.5rem;
    text-align: center;
}
.clicked {
    text-decoration: underline white 2px;
    text-underline-offset: 1rem;
}

.teamsIntro {
    text-align: center;
    margin: 1rem 10rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5rem;
    color: #5C5C5C;
}
@media (max-width: 1200px) {
    .innerContent {
        margin: 3rem 1rem;
    }
    .teamsIntro {
        margin: 1rem 3rem;
    }
    .productsIntro {
        margin: 1rem 1rem;
    }
}
@media (max-width: 300px) {
    .innerContent {
        margin: 3rem 0;
    }
    .productsIntro {
        margin: 1rem 1rem;
    }
    .teamsIntro {
        margin: 1rem 0;
    }
}